---
import "photoswipe/style.css";

import { getCollection } from "astro:content";
import { Box, Container, Flex, Stack } from "styled-system/jsx";
import { center } from "styled-system/patterns";

import { Heading } from "~/components/ui/heading";
import { Link } from "~/components/ui/link";
import { components, MdContainer } from "~/components/ui/markdown";
import { TableOfContent } from "~/components/ui/table-of-content";
import TagsList from "~/components/ui/TagsList.astro";
import { Text } from "~/components/ui/text";
import Noriapi from "~/layouts/Noriapi.astro";
import { displayDate } from "~/lib/display-date";

export async function getStaticPaths() {
  const entries = await getCollection("blog");

  return entries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const published = displayDate(entry.data.publishDate);

const minDepth = Math.min(...headings.map((entry) => entry.depth));
const entries = headings.map((entry) => ({
  title: entry.text,
  url: `#${entry.slug}`,
  depth: entry.depth - minDepth, // 最低値を 0 に揃える
}));
---

<Noriapi>
  <Fragment slot="head">
    <title>{entry.data.title} | noriapiのブログ</title>
    <meta name="description" content={entry.data.description} />
  </Fragment>

  <main>
    <Container maxWidth="4xl" textAlign="center" mt="16" mb="10">
      <Heading as="h1" size="3xl">
        {entry.data.title}
      </Heading>

      <Text color="fg.muted" mt="7">{published}に公開</Text>
    </Container>

    <Container display="flex" gap="8" justifyContent="center">
      <Stack maxWidth="3xl" width="full">
        <Flex gap="2">
          <TagsList tags={entry.data.tags} />
        </Flex>
        <MdContainer id="markdown">
          <Content components={components} />
        </MdContainer>
      </Stack>

      {
        entries.length > 1 && (
          <Box
            flexGrow="1"
            width="full"
            maxW="14rem"
            display={{ base: "none", xl: "block" }}
          >
            <Box position="fixed">
              <TableOfContent
                client:load
                entries={entries}
                locale={Astro.currentLocale}
              />
            </Box>
          </Box>
        )
      }
    </Container>

    <footer class={center({ mt: "20" })}>
      <Link href="/blog/">記事一覧へ戻る</Link>
    </footer>
  </main>
</Noriapi>
<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#markdown",
    children: "a.lightbox",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
