---
import { Box, Center, styled } from "styled-system/jsx";
import { container } from "styled-system/patterns";
import { Heading } from "~/components/ui/heading";
import { Link } from "~/components/ui/link";
import { Text } from "~/components/ui/text";
import NoriapiLayout from "~/layouts/Noriapi.astro";
import { card } from "styled-system/recipes";
import OjisanContainer from "~/components/ui/OjisanContainer.astro";
import { fancyTextStyles } from "~/styles/fancy-text";

const cardStyles = card();
---

<NoriapiLayout>
  <Fragment slot="head">
    <title>noriapiのホーム</title>
    <meta
      name="description"
      content="noriapiのホームページです。自作のアプリを紹介します。"
    />
  </Fragment>
  <main class={container({ maxWidth: "6xl" })}>
    <Box mt="10" textAlign="center">
      <OjisanContainer css={{ mb: "2" }}>
        <Heading as="h1" size="2xl" css={fancyTextStyles}>
          noriapiのホーム
        </Heading>
      </OjisanContainer>

      <Text>noriapiのホームページです。自作のアプリを紹介します。</Text>
    </Box>
    <styled.section mt="28">
      <OjisanContainer css={{ mb: "6" }}>
        <Heading as="h2" size="2xl" css={fancyTextStyles}> 作ったもの </Heading>
      </OjisanContainer>

      <Center>
        <ul>
          <li>
            <div class={cardStyles.root}>
              <div class={cardStyles.header}>
                <Link href="/no-alt-win-menu" fontSize="xl">
                  No Alt Win Menu
                </Link>
              </div>
              <styled.div fontSize="sm" class={cardStyles.body}>
                AltキーやWinキーを離したときにメニューを表示させないアプリ
              </styled.div>
            </div>
          </li>
        </ul>
      </Center>
    </styled.section>
  </main>
</NoriapiLayout>
