---
import { Box, Container, styled } from "styled-system/jsx";
import { container, vstack } from "styled-system/patterns";
import { card } from "styled-system/recipes";

import { Heading } from "~/components/ui/heading";
import { Link } from "~/components/ui/link";
import OjisanContainer from "~/components/ui/OjisanContainer.astro";
import { Text } from "~/components/ui/text";
import NoriapiLayout from "~/layouts/Noriapi.astro";
import { fancyTextStyles } from "~/styles/fancy-text";

const cardStyles = card();

interface Item {
  href: string;
  title: string;
  description?: string;
}
const items: Item[] = [
  {
    href: "/no-alt-win-menu",
    title: "No Alt Win Menu",
    description: "AltキーやWinキーを離したときにメニューを表示させないアプリ",
  },
  {
    href: "https://github.com/noriapi/my-site",
    title: "このサイト",
  },
];
---

<NoriapiLayout>
  <Fragment slot="head">
    <title>noriapiのホーム</title>
    <meta
      name="description"
      content="noriapiのホームページです。自作のアプリを紹介します。"
    />
  </Fragment>
  <main class={container({ maxWidth: "6xl" })}>
    <Box mt="10" textAlign="center">
      <OjisanContainer css={{ mb: "2" }}>
        <Heading as="h1" size="2xl" css={fancyTextStyles}>
          noriapiのホーム
        </Heading>
      </OjisanContainer>

      <Text>noriapiのホームページです。自作のアプリを紹介します。</Text>
    </Box>
    <styled.section mt="28">
      <OjisanContainer css={{ mb: "6" }}>
        <Heading as="h2" size="2xl" css={fancyTextStyles}> 作ったもの </Heading>
      </OjisanContainer>

      <Container maxW="lg">
        <ul class={vstack({ alignItems: "stretch", gap: "6" })}>
          {
            items.map((item) => (
              <li>
                <div class={cardStyles.root}>
                  <div class={cardStyles.header}>
                    <Link href={item.href} fontSize="xl">
                      {item.title}
                    </Link>
                  </div>
                  {item.description && (
                    <styled.div fontSize="sm" class={cardStyles.body}>
                      {item.description}
                    </styled.div>
                  )}
                </div>
              </li>
            ))
          }
        </ul>
      </Container>
    </styled.section>
  </main>
</NoriapiLayout>
